<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="google-site-verification" content="sP7ue4M78HO334SUWmWjodiG6qXTbZgor3gog0z1HM0" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include widget/seo.html %}
<meta content="{{site.link}}" name="developer" />
<meta content="#000000" name="theme-color" />
<meta content="#000000" name="msapplication-navbutton-color" />
<meta content="#000000" name="apple-mobile-web-app-status-bar-style" />
<meta content="index, follow" name="robots" />
<link href="{{site.url}}/assets/css/creativitas.css" rel="stylesheet"/>
<style>body,.modal-dialog,.modal-content,.black{background-color:black; color:white;}a {text-decoration:none; color:white;}.modal-header,.modal-body,.modal-footer {border: none;}.display-4 {font-weight:bold;}iframe,img {max-width:100% height:auto;}html{    scrollbar-color: #B82EA9 #F1E8F7;}html {--scrollbarBG: black;--thumbBG: white;}body::-webkit-scrollbar {width: 8px;}body {scrollbar-width: thin;scrollbar-color: var(--thumbBG) var(--scrollbarBG);}body::-webkit-scrollbar-track {background: var(--scrollbarBG);}body::-webkit-scrollbar-thumb {background-color: var(--thumbBG) ;border-radius: 25px;border: 1px solid var(--scrollbarBG);}div::-webkit-scrollbar{height:5px;width: 4px;background-color:  black;}div::-webkit-scrollbar-track{border-radius: 10px;width: 4px !important;webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}div::-webkit-scrollbar-thumb{background-color: white;border-radius: 25px;width: 4px !important;    webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5);}</style>
</head>
<body>