{% feed_meta %}
{% seo %}
<meta name="twitter:card" content="summary" />
<meta content='{{site.url}}{{site.image}}' property='twitter:image'/>
<meta content='{{site.url}}{{site.image}}' name='twitter:image'/>
<link rel="icon" type="image/x-icon" href="{{site.url}}{{site.favicon}}" />
<meta content='{{site.url}}' property='facebook:author'/>
<meta content='{{page.description}}{{site.description}}' property='twitter:description'/>
<meta content='{{site.url}}' property='twitter:author'/>
<meta content='{{site.url}}' name='twitter:site'/>